/* iphone */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* android */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* ipad */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* android tablet */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* desktop css */
     * {
  margin:0;
  padding:0;
}

#container {
  width: 80%;
  margin: 10px auto;
}

header {
  min-height:80px;
}

#main {
  min-height:300px;
 display: table;
  overflow: hidden;
}

#column1 {
  background-color: #fff;
  width: 690px;
  float: right;
  min-height:300px;
  font-family: Helvetica;
}

#sidebar {
  margin-right: 690 px;
  min-height:300px;
  min-width: 200px;
  padding: 20px;
  background-color: #E9D6D8;
  display: table-cell;

}

footer {
  min-height:60px;
  
img {
  width: 100%;
}

#hero {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

table {
border-spacing: 50px 0;
}

td {
  padding:15px;

}

tr {
  width:80%;
}
